/* Search
  ========================================================================== */

.search_slider-wrap {
	margin-bottom: 24px;
	background-color: #fff;
	overflow: hidden;
}

.search_slider {
	float: left;
	width: 100%;
	padding: 24px;
	text-align: center;
	> input {
		opacity: 0;
	}
	@media screen and (min-width: $tablet-large) {
    	width: 60%;
    	padding: 48px;
  	}
}

.search_slider-text {
	width: 100%;
	// padding-bottom: 24px;
	font-size: 16px;
	font-weight: 300;
	// letter-spacing: 1px;
	text-transform: uppercase;
}

.search_price-wrap {
	width: 50%;
	height: 190px;
	text-align: center;
	background-color: #fafafa;
	@media screen and (min-width: $tablet-large) {
    	width: 20%;
  	}
}

.search_price-wrap--left {
	float: left;
}

.search_price-wrap--right {
	float: right;
}

.search_price-from,
.search_price-to {
	width: 140px;
	height: 140px;
	padding-top: 48px;
	margin: 28px auto;
	font-size: 24px;
	font-weight: 700;
	color: #4d525c;
	border: 6px solid #ededed;
	border-radius: 100px;
	background-color: #fff;
	@media screen and (min-width: $tablet-large) {
		width: 160px;
		height: 160px;
		padding-top: 60px;
		margin: 14px auto;
		font-size: 24px;
	}
}

.search_btn {
	display: inline-block;
	padding: 12px 24px;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	border-radius: 2px;
	text-transform: uppercase;
	background-color: $color-second--light;
	outline: none;
	&:hover {
		background-color: $color-second;
	}
	@media screen and (min-width: $tablet-small) {
		padding: 24px 48px;
	}
}

.clear_btn {
	display: inline-block;
	padding: 12px 24px;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $color-main--light;
	outline: none;
	&:hover {
		background-color: $color-main;
	}
	@media screen and (min-width: $tablet-small) {
		padding: 24px 48px;
	}
}

.search_submit {
	margin-top: 48px;
	margin-bottom: 48px;
	text-align: center;
}

.currancy-size {
	font-size: 12px;
	text-transform: lowercase;
	@media screen and (min-width: $tablet-large) {
    	font-size: 18px;
  	}
}

.search_input {
	width: 100%;
	margin-right: 1px;
	margin-bottom: 2px;
	margin-left: 1px;
	border: 0;
	background-color: #fff;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none;
	input {
		width: 100%;
		padding: 18px 16px 17px;
		border: 0;
	}
	@media screen and (min-width: $screen-small) {
		&.active {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
