/* Post
  ========================================================================== */

.post_content {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #fff;
}

.post_file {
  position: relative;
  float: left;
  overflow: hidden;
  input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
  }
  input.post_file--upload {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  span {
    position: relative;
    top: -16px;
    padding-left: 12px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.post_file:before {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  content: url('../../src/img/btn-plus.svg');
}

.post_file--upload {
  padding: 0;
}

.post_file--preview {
  width: 100%;
  height: auto;
  margin-top: 48px;
  margin-bottom: 72px;
  // background-position: center center;
  // background-size: cover;
  // border-radius: 2px;
  display: inline-block;
}

.post_title {
  width: 100%;
  padding: 0;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  color: $color-main;
  border: 0;
  outline: none;
  resize: none;
  &::-webkit-input-placeholder {
    color: #ccc;
  }
}

.post_text {
  width: 100%;
  padding: 0;
  font-size: 20px;
  font-weight: 300;
  color: $color-main;
  border: 0;
  outline: none;
  resize: none;
  &::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    font-weight: 300;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc;
    font-weight: 300;
  }

  &:-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
  }
  @media screen and (min-width: $tablet-large) {
    width: 70%;
    font-size: 24px;
  }
}

.post_details {
  position: relative;
  margin-top: 72px;
}

.post_details--price {
  position: absolute;
  top: -125px;
  right: -6px;
  width: 110px;
  height: 110px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: $color-main--light;
  border-radius: 110px;
  border: 6px solid #eee;
  @media (min-width: $tablet-large) {
    position: absolute;
    top: -140px;
    width: 140px;
    height: 140px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: $color-main--light;
    border-radius: 140px;
    border: 6px solid #eee;
  }
}

.price-wrap--details {
  position: relative;
  top: 38px;
  text-align: center;
  @media (min-width: $tablet-large) {
    position: relative;
    top: 50px;
    text-align: center;
  }
}

.post_item {
  display: flex;
  justify-content: center;
  width: 100%;
  // background-color: #fff;
  &:nth-child(even){
    justify-content: flex-end;
    flex-grow: 1; 
  }
  @media screen and (min-width: $tablet-small) {
    //width: 50%;
  }
  @media screen and (min-width: $screen-small) {
    //width: 25%;
  }
  // &:first-child .post_input {
  //   border-top-right-radius: 2px;
  //   border-top-left-radius: 2px;
  //   @media screen and (min-width: $tablet-small)  {
  //     border-top-right-radius: 0;
  //   }
  //   @media screen and (min-width: $screen-small) {
  //     border-top-left-radius: 2px;
  //     border-bottom-left-radius: 2px;
  //   }
  // }
  // &:last-child .post_spec--btn {
  //   border-bottom-right-radius: 2px;
  //   border-bottom-left-radius: 2px;
  //   @media screen and (min-width: $tablet-small)  {
  //     border-bottom-left-radius: 0;
  //   }
  //   @media screen and (min-width: $screen-small) {
  //     border-top-right-radius: 2px;
  //     border-bottom-right-radius: 2px;
  //   }
  // }
  // &:nth-child(2) .post_input {
  //   @media screen and (min-width: $tablet-small)  {
  //     border-top-right-radius: 2px;
  //   }
  //   @media screen and (min-width: $screen-small)  {
  //     border-top-right-radius: 0;
  //   }
  // }
  // &:nth-child(3) .post_input {
  //   @media screen and (min-width: $tablet-small)  {
  //     border-bottom-left-radius: 2px;
  //   }
  //   @media screen and (min-width: $screen-small)  {
  //     border-bottom-left-radius: 0;
  //   }
  // }
  //
  // &:first-child .dropdown {
  //   border-top-right-radius: 2px;
  //   border-top-left-radius: 2px;
  //   @media screen and (min-width: $tablet-small)  {
  //     border-top-right-radius: 0;
  //   }
  //   @media screen and (min-width: $screen-small) {
  //     border-top-left-radius: 2px;
  //     border-bottom-left-radius: 2px;
  //   }
  // }
  // &:last-child .dropdown {
  //   border-bottom-right-radius: 2px;
  //   border-bottom-left-radius: 2px;
  //   @media screen and (min-width: $tablet-small)  {
  //     border-bottom-left-radius: 0;
  //   }
  //   @media screen and (min-width: $screen-small) {
  //     border-top-right-radius: 2px;
  //     border-bottom-right-radius: 2px;
  //   }
  // }
  // &:nth-child(2) .dropdown {
  //   @media screen and (min-width: $tablet-small)  {
  //     border-top-right-radius: 2px;
  //   }
  //   @media screen and (min-width: $screen-small)  {
  //     border-top-right-radius: 0;
  //   }
  // }
  // &:nth-child(3) .dropdown {
  //   @media screen and (min-width: $tablet-small)  {
  //     border-bottom-left-radius: 2px;
  //   }
  //   @media screen and (min-width: $screen-small)  {
  //     border-bottom-left-radius: 0;
  //   }
  // }
}

.post_input {
  width: 100%;
  padding: 20px 16px;
  // margin-right: 1px;
  margin-bottom: 2px;
  // margin-left: 1px;
  border: 0;
  background-color: #fff;
  &::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    font-weight: 300;
  }

  &:-ms-input-placeholder {
    font-weight: 300;
  }
  @media screen and (min-width: $tablet-small) {
      font-size: 14px;
  }
  @media screen and (min-width: $tablet-large) {
    font-size: 16px;
    &::-webkit-input-placeholder {
      font-size: 16px;

    }
  }
}

.post_input-spec {
  float: right;
  width: 100%;
  padding: 20px 16px;
  //margin-right: 1px;
  margin-bottom: 2px;
  //margin-left: 1px;
  border: 0;
  background-color: #fff;
  &::-webkit-input-placeholder {
    font-weight: 300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    font-weight: 300;
  }

  &:-ms-input-placeholder {
    font-weight: 300;
  }
  @media (min-width: 410px) {
    width: 50%;
  }
  @media (min-width: 560px) {
    width: 70%;
  }
  @media (min-width: $tablet-large) {
    width: 75%;
  }
}

.input_container {
  margin-bottom: 24px;
}

.post_spec {
  display: none;
}

.post_spec.active {
  display: block;
  margin-top: 24px;
  margin-bottom: 48px;
  &:after {
    display: table;
    clear: both; 
    content: "";
  } 
}

.post_spec--btn {
  width: 100%;
  // padding: 20px 16px 16px 16px;
  margin-right: 1px;
  margin-bottom: 2px;
  margin-left: 1px;
  cursor: pointer;
  border: 0;
  background-color: #fff; // $color-main--light;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none;
  span {
    position: relative;
    // top: -14px;
    float: left;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 16px;
    font-size: 13px;
    font-weight: 400;
    color: $color-dark;
    text-transform: uppercase;
    @media screen and (min-width: $tablet-small) {
      padding-top: 24px;
      padding-bottom: 20px;
      font-size: 12px;
    }
    @media screen and (min-width: $tablet-large) {
      font-size: 13px;
    }
  }
}

.post_spec--btn.active:after {
  content: url('../../src/img/btn-active.svg');
}

.post_spec--btn:after {
  position: relative;
  top: 10px;
  right: 16px;
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  content: url('../../src/img/btn-plus.svg');
}

.spec_label {
  display: block;
  float: left;
  padding: 10px 16px;
  // margin-right: 1px;
  margin-bottom: 2px;
  // margin-left: 1px;
  width: 100%;
  background-color: #fafafa;
  border-right: 2px solid #eee;
  clear: left;
  @media (min-width: 410px) {
    width: 50%;
    padding: 20px 16px;
  }
  @media (min-width: 560px) {
    width: 30%;
  }
  @media (min-width: $tablet-large) {
    width: 25%;
  }
}

.spec_title {
  float: left;
  display: inline-block;
  padding: 12px 16px;
  margin-top: 32px;
  margin-bottom: 0;
  // margin-left: 1px;
  color: #fff;
  // text-transform: uppercase;
  background-color: $color-second--light;
  // border-top-right-radius: 2px;
  // border-top-left-radius: 2px;
  clear: left;
  @media (min-width: 420px) {
    
  }
}

.spec_title--contact {
  margin-top: 0;
  background-color: $color-main--light;
}

.post_submit--wrap {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.post_btn--wrap {
  text-align: center;
}

.post_submit {
  padding: 24px 48px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: $color-cta;
  outline: none;
  &:hover {
    background-color: #61ac34;
  }
}

.post_submit-single {
  display: inline-block;
  padding: 12px 18px;
  margin-top: 48px;
  margin-right: 1px;
  margin-left: 1px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  background-color: $color-second--light;
  outline: none;
  &:hover {
    background-color: $color-second;
  }
  @media screen and (min-width: $tablet-large) {
    padding: 24px 48px;
  }
}

.post_front-gear,
.post_rims,
.post_brake-levers,
.post_crankset,
.post_fork,
.post_handlebar {
  // border-top-right-radius: 2px;
  // border-top-left-radius: 2px;
}

.post_gear-shifters,
.post_tires,
.post_rear-disc,
.post_chain,
.post_remote-system,
.post_weight {
  // border-bottom-right-radius: 2px;
  // border-bottom-left-radius: 2px;
}

.post_delete-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($color-main, 0.95);
  &.active {
    display: block;
  }
}

.post_delete--message {
  position: absolute;
  left: 50%;
  width: 300px;
  height: auto;
  padding: 24px;
  margin-left: -150px;
  color: $color-dark--light;
  text-align: center;
  background-color: #fff;
  @include vertical-align--50;
}

.post_start--delete {
  display: inline-block;
  padding: 12px 18px;
  margin-top: 48px;
  margin-right: 1px;
  margin-left: 1px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  background-color: $color-main--light;
  outline: none;
  &:hover {
    background-color: $color-main;
  }
  @media screen and (min-width: $tablet-large) {
    padding: 24px 48px;
  }
}

.post_draft-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($color-main, 0.95);
  &.active {
    display: block;
  }
}

.post_draft--message {
  position: absolute;
  left: 50%;
  width: 300px;
  height: auto;
  padding: 24px;
  margin-left: -150px;
  color: $color-dark--light;
  text-align: center;
  background-color: #fff;
  @include vertical-align--50;
}

.post_start--draft {
  display: inline-block;
  padding: 12px 18px;
  margin-top: 48px;
  margin-right: 1px;
  margin-left: 1px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  background-color: $color-main--light;
  outline: none;
  &:hover {
    background-color: $color-main;
  }
  @media screen and (min-width: $tablet-large) {
    padding: 24px 48px;
  }
}

.post_publish-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($color-main, 0.95);
  &.active {
    display: block;
  }
}

.post_publish--message {
  position: absolute;
  left: 50%;
  width: 300px;
  height: auto;
  padding: 24px;
  margin-left: -150px;
  color: $color-dark--light;
  text-align: center;
  background-color: #fff;
  @include vertical-align--50;
}

.post_start--publish {
  display: inline-block;
  padding: 12px 18px;
  margin-top: 48px;
  margin-right: 1px;
  margin-left: 1px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  background-color: $color-cta;
  outline: none;
  &:hover {
    background-color: #61ac34;
  }
  @media screen and (min-width: $tablet-large) {
    padding: 24px 48px;
  }
}

.post_email-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($color-main, 0.95);
  &.active {
    display: block;
  }
}

.post_email--message {
  position: absolute;
  left: 50%;
  width: 300px;
  height: auto;
  padding: 24px;
  margin-left: -150px;
  color: $color-dark--light;
  text-align: center;
  background-color: #fff;
  @include vertical-align--50;
}

.post_start--email {
  display: inline-block;
  padding: 12px 18px;
  margin-top: 48px;
  margin-right: 1px;
  margin-left: 1px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  background-color: $color-cta;
  outline: none;
  &:hover {
    background-color: #61ac34;
  }
  @media screen and (min-width: $tablet-large) {
    padding: 24px 48px;
  }
}

.post_image {
    width: 100%;
    border-radius: 2px;
}