/* Dropdown
  ========================================================================== */

.dropdown {
  width: 100%;
  //padding: 20px 16px;
  // margin-right: 1px;
  margin-bottom: 2px;
  // margin-left: 1px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none;
  span {
    position: relative;
    float: left;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-left: 16px;
    font-size: 13px;
    font-weight: 600;
    color: $color-main--light;
    // letter-spacing: 1px;
    // text-transform: uppercase;
    @media screen and (min-width: $tablet-small) {

    }
    @media screen and (min-width: $tablet-large) {
      padding-top: 25px;
      padding-bottom: 18px;
      font-size: 16px;
    }
  }
  @media screen and (min-width: $screen-small) {
    &.active {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.dropdown_list {
  display: none;
  width: 100%;
  max-height: 300px;
  padding: 24px;
  // margin-right: 1px;
  margin-bottom: 2px;
  // margin-left: 1px;
  &.active {
    display: block;
    margin-top: 2px;
    background-color: #fff;
    overflow-y: auto;
  }
}

.dropdown_item {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  // margin-top: 6px;
  // margin-bottom: 6px;
  border-bottom: 1px solid #f8f8f8;
  cursor: pointer;
  &:last-child {
    border-bottom: 0;
  }
  &:hover {
    font-weight: 600;
    color: $color-main--light;
    background-color: #fafafa;
  }
}

.dropdown:after {
  position: relative;
  top: 10px;
  right: 16px;
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  content: url('../../src/img/btn-plus.svg');
}

.dropdown.active:after {
  content: url('../../src/img/btn-active.svg');
}

.dropdown_label {
  display: block;
  float: left;
  width: 30%;
  padding: 23px 16px 22px 16px;
  font-size: 16px;
  font-weight: 300;
  border-right: 2px solid #eee;
  background-color: #fafafa;
  @media screen and (min-width: $tablet-small) {
    width: 20%;
  }
  @media screen and (min-width: $tablet-large) {
    padding-top: 25px;
    padding-bottom: 18px;
  }
}
