/* Login
  ========================================================================== */

.login {
	max-width: 400px;
	margin: 72px auto 0;
}

.login_help {
	max-width: 400px;
	margin: 24px auto 72px;
	text-align: center;
}

.login_input {
  width: 100%;
  padding: 20px 16px;
  // margin-right: 1px;
  margin-bottom: 2px;
  // margin-left: 1px;
  border: 0;
  background-color: #fff;
  &::-webkit-input-placeholder {
    font-weight: 300;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    font-weight: 300;
  }
  &:-ms-input-placeholder {
    font-weight: 300;
  }
}

.login_lost-pwd {
	display: block;
	margin-top: 24px;
	margin-bottom: 12px;
	font-weight: 300;
	color: $color-second;
	text-decoration: none;
}

.login_copy {
	display: inline;
}

.login_signup--form {
	display: inline;
}

.login_signup--btn {
	padding: 0 0 0 4px;
	color: $color-second;
	background-color: #eee;
	border: 0;
	outline: none;
}

.login_title {
	margin-top: 0;
	margin-bottom: 36px;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

.login_password {
	margin-bottom: 24px;
}

.login_submit {
  width: 100%;
  padding: 24px 48px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: $color-cta;
  outline: none;
  &:hover {
    background-color: #61ac34;
  }
}