// Settings: Colors
// ============================================================================

// Main color
$color-main: rgba(58, 62, 73, 1); // Dark blue - #3a3e49
$color-main--light: rgba(77, 82, 92, 1); // Lighter version of dark blue - #4d525c

// Secondary color
$color-second: rgba(252, 112, 50, 1); // Orange - #fc7032 // Beige - #fae6c8 | 250, 230, 200,  252, 112, 50,
$color-second--light: rgba(252, 125, 70, 1); // Lighter version of orange - #fc7d46 // 250, 232, 205,  252, 125, 70,

// Dark color
$color-dark: rgba(33, 33, 33, 1); // Dark - #212121
$color-dark--light: rgba(55, 55, 55, 1); // Lighter version of dark - #373737

// Call to action
$color-cta: rgba(115, 180, 77, 1); // Green - #73b44d
